# Please sort into logical groups with comment headers. Sort groups in order of specificity.
# For example, default owners should always be the first group.
# Sort lines alphabetically within these groups to avoid accidentally adding duplicates.
#
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default file owners
* @bitwarden/team-secrets-manager-dev

# Shared workflows ownership
.github/workflows/build_ghcr.yml @bitwarden/dept-bre @bitwarden/team-secrets-manager-dev
.github/workflows/build.yml @bitwarden/dept-bre @bitwarden/team-secrets-manager-dev
.github/workflows/bump_version.yml @bitwarden/dept-bre @bitwarden/team-secrets-manager-dev
.github/workflows/release.yml @bitwarden/dept-bre @bitwarden/team-secrets-manager-dev

## Docker files have shared ownership ##
Dockerfile @bitwarden/dept-bre @bitwarden/team-secrets-manager-dev
.dockerignore @bitwarden/dept-bre @bitwarden/team-secrets-manager-dev
