# Please sort into logical groups with comment headers. Sort groups in order of specificity.
# For example, default owners should always be the first group.
# Sort lines alphabetically within these groups to avoid accidentally adding duplicates.
#
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Workflows ownership
.github/workflows/build_ghcr.yml @bitwarden/dept-bre
.github/workflows/build.yml @bitwarden/dept-bre
.github/workflows/bump_version.yml @bitwarden/dept-bre
.github/workflows/release.yml @bitwarden/dept-bre
.github/workflows/release.yml @bitwarden/dept-bre

## Dockerfile shared ownership
**/Dockerfile @bitwarden/dept-bre @bitwarden/team-appsec
**/.dockerignore @bitwarden/dept-bre @bitwarden/team-appsec
**/entrypoint.sh @bitwarden/dept-bre @bitwarden/team-appsec
