# General
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Node
node_modules
npm-debug.log

src/sm-operator/bin/*
src/sm-operator/sm-operator.tar
src/sm-operator/bw-sdk/internal/cinterface/lib/*
src/sm-operator/cmd/__debug_bin*
**/temp.zip
**/.env
